@{
    ViewBag.Title = "TodayOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Boboframework
@using BoboModel
@model Boboframework.PageOfItems<OrderManageInfo>
<div class="am-cf admin-main">
    <!-- content start -->
    <div class="admin-content am-g">
        <div class="am-padding charts-content bill-content">
           <table class="am-table am-table-centered am-table-bordered">
                <tr>
                    <th width="15%">发型师</th>
                    <th width="15%">顾客</th>
                    <th width="15%">下单金额</th>
                    <th width="15%">预约时间</th>
                    <th width="15%">下单时间</th>
                    <th width="25%">顾客点评</th>
                </tr>
                @{
                    if (Model != null)
                    {

                        foreach (var item in Model)
                        {                
                    <tr>
                        <td class="am-text-middle" width="15%">@item.hairname</td>
                        <td class="am-text-middle" width="15%">@item.customername</td>
                        <td class="am-text-middle" width="15%">@item.ordermoney</td>
                        <td class="am-text-middle" width="15%">@(item.bookingdate == null ? null : item.bookingdate.Value.ToString("yyyy-MM-dd"))</td>
                        <td class="am-text-middle" width="15%">@(item.ordertime == null ? null : item.ordertime.Value.ToString("yyyy-MM-dd"))</td>
                        <td class="am-text-middle" width="25%" title="@item.comment">@(item.comment == null ? null : (item.comment.Length > 12 ? item.comment.Substring(0, 12) + "..." : item.comment))</td>
                    </tr>                                
                        }

                    }
                }
            </table>

        </div>
    </div>
    <!-- content end -->
</div>
<ul class="am-pagination am-pagination-centered">
    @using BoboCommon
    @MvcHtmlString.Create(MyPageBar.ShowMyPageBar((int)ViewBag.pageIndex, (int)ViewBag.pageCount))
</ul>
